<div class="row">
  <div class="col-xs-12 col-md-6">

      <div class="left">
           <h3>New Customer</h3>
           <p><strong>Register Account</strong></p>
           <p>By creating an account you will be able to book a flight, 
             be up to date on an order's status, and keep track of
             the orders you have previously made.</p>
           <a style="cursor:pointer" class="btn btn-gray" routerLink="register">Continue</a>
      </div>
  </div>

  <div class="col-xs-12 col-md-6">
  
  <router-outlet></router-outlet>

  </div>


</div>